.App {
  text-align: center;
  background-color: #282c34;
}

.stylisethisbutton{
  background-color: #282c34;
  padding: 1rem;
  border-radius: 50%;
  color: white;
}
.navbar{
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  background-color: #282c34;
  padding: 1.10rem;
}
.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  margin: .5rem;
  border: none;
  background: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  padding: .75rem;
  border-radius: 2rem;
}